.button {
  text-decoration: underline;
  cursor: pointer;
}

.button:hover {
  background-color: green;
  color: white;
}

.button.active {
  background-color: rgba(0, 128, 0, 0.15);
}

.button.active:hover {
  color: green;
  cursor: default;
}
