tr.data-row:nth-child(odd) {
  background-color: #efefef;
}

td.camper {
  text-align: left;
}

td.camper a {
  display: block;
  color: green;
}

td.camper:hover a {
  text-shadow: 0 0 5px lightgreen;
}

td.camper:hover img {
  box-shadow: 0 0 5px lightgreen;
}

td.score {
  text-align: right;
  padding-right: 40px;
}

td.in-order {
  background-color: rgba(0, 128, 0, 0.15);
}

td.in-order:nth-child(3) {
  border-right: 1px solid rgba(0, 128, 0, 0.15);
}

.avatar {
  height: 30px;
  vertical-align: middle;
  margin-right: 20px;
  border-radius: 4px;
  border: 1px solid green;
}
