
table {
  border-collapse: collapse;
  vertical-align: middle;
  white-space: nowrap;
  margin: 50px auto 100px auto;
  box-shadow: 0 0 40px #999;
  width: 600px;
  border: 0;
}

thead tr:first-child th:nth-child(1),
tbody tr td:first-child {
  width: 73px;
}

thead tr:first-child th:nth-child(2),
tbody td:nth-child(2) {
  width: 240px;
}

thead tr:nth-child(2) th:nth-child(1),
tbody td:nth-child(3) {
  width: 161px;
}

thead tr:nth-child(2) th:nth-child(2),
tbody td:nth-child(4) {
  width: 126px;
}

caption {
  padding: 15px;
  background-color: green;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

th {
  border: 1px solid green;
  padding: 1em 25px;
  text-align: center;
  color: green;
  text-transform: uppercase;
  font-size: 0.8em;
}

td {
  padding: 8px;
}

td:last-child {
  border-right: 1px solid green;
}

td:first-child {
  border-left: 1px solid green;
}

tbody tr:last-child {
  border-bottom: 3px solid green;
}

thead {
  background-color: white;
  width: 600px;
  display: block;
}

tbody {
  display: block;
  width: 600px;
}

.fixed-header {
  position: fixed;
  top: 0;
}

.fixed-tbody {
  margin-top: 80px;
}
