
table {
  border-collapse: collapse;
  vertical-align: middle;
  white-space: nowrap;
  margin: 50px auto 100px auto;
  box-shadow: 0 0 40px #999;
  width: 600px;
  border: 0;
}

td:nth-child(1) {
  width: 73px;
}

td:nth-child(2) {
  width: 240px;
}

td:nth-child(3) {
  width: 161px;
}

td:nth-child(4) {
  width: 126px;
}

caption {
  padding: 15px;
  background-color: green;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

th {
  border: 1px solid green;
  padding: 1em 25px;
  text-align: center;
  color: green;
  text-transform: uppercase;
  font-size: 0.8em;
}

.button {
  text-decoration: underline;
  cursor: pointer;
}

.button:hover {
  background-color: green;
  color: white;
}

.button.active {
  background-color: rgba(0, 128, 0, 0.15);
}

.button.active:hover {
  color: green;
  cursor: default;
}

td {
  padding: 8px;
}

td:last-child {
  border-right: 1px solid green;
}

td:first-child {
  border-left: 1px solid green;
}

tbody tr:last-child {
  border-bottom: 3px solid green;
}
